.error-message {
    color: red;
    vertical-align: middle;
    position: absolute;
}

.welcome-message {
    text-align: center;
    vertical-align: middle;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    padding: 19px 29px 29px;
    margin: 8em auto 20px;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #b5b5b5;
    text-align: center;
    border-radius: 0.5em;
}

.main-heading {
    margin: -0.5em 5px 1em 5em;
    font-size: 2em;
}

.main-heading h1{
    font-family: 'Roboto';
    font-weight: 300;
}

.sidebar {
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    z-index: 50;
    margin-top: 3.5em;
    position: fixed;
    height: auto;
    min-height: 0;
    overflow: auto;
}

.card {
    display: block;
    width: inherit;
    max-width: inherit;
    min-height: 4em;
    border-bottom: 1px solid #b5b5b5;
    border-top: 1px solid #b5b5b5;
    margin: 5px 5px 1em 5px;
    transition: all 0.3s ease;
    height: 0;
}

.content {
    width: 100%;
    margin-top: 5em;
    margin-left: 15em;
    height: 90%;
    z-index: 20;
    position: fixed;
    overflow: scroll;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
}

.card:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    height: 3.5em;
    margin-top: 0;
    margin-bottom: 5px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    z-index: 100;
    position: fixed;
    width: 100%;
}

.header-menu {
    display: flex;
    flex-direction: column;
    margin: 1px 2px 2px auto;
    justify-content: space-between;
}

.header-menu a {
    padding: 0 2px 0 2px;
    color: inherit;
    transition: all 0.3s ease;
    line-height: 1.7em;
    cursor: pointer;
}

.header-menu a:hover{
    background-color: #b5b5b5;
    z-index: 100;
}

.header-logo {
    max-width: 7em;
    height: inherit;
    border-right: 1px solid #c5c5c5;
    position: fixed;
    transition: all 0.3s ease;
}

.modify-input {
    width: 5em;
    margin: 0 1em 0 1em;
}

.header-logo:hover {
    background-color: #b5b5b5;
}

.header-wrapper h1 {
    font-size: 1em;
    padding-left: 3px;
    font-family: 'Ubuntu';
    font-weight: 300;
    line-height: 0.8em;
    display: table-cell;
    vertical-align: middle;
    padding-top: 0.9em;
}

.card-table {
    margin: 0;
    width: 100%;
    height: 100%;
}

.submit-button {
    width: 6em;
    height: 2em;
}

.login-text {
    max-width: 15em;
    height: 2.9em;
    width: 20em;
    margin-top: 0;
    margin-bottom: 2em;
    border-radius: 2px;
}

.login-heading {
    text-align: center;
    border-bottom: 1px solid #b5b5b5;
    font-weight: 300;
    font-size: 1.5em;
}

.main-wrapper {
    width: 100%;
    min-height: 40em;
    margin-bottom: 1em;
    height: 80%;
}

.popup-submit {
    margin: 5px 5px;
}

.info-column {
    margin: 1em;
}

.edit-info {
    display: flex;
    flex-flow: column;
    max-width: 35em;
    border: 1px solid #b5b5b5;
    margin: 0 5em 5em 13em;
}

.input-info {
    width: 12em;
}

.button {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #b5b5b5;
}
